.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 70vh;
    width: 80vw;
    background-color: white;
    border: solid rgb(138, 164, 204);
    font-size: 30px;
}
.close{
    width: 30vw;
}
.gohome {
    width: 30vw
}
.birthday-label {
    margin-right: 10px;
}

.buttons {
    margin-top: 8vh;
    display: flex;
    flex-direction: row;
    gap: 5vh;
}
.name{
    gap: 10px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;

}
.radio-options {

}
input[type="radio"] {
    height: 1.2rem;
    width: 1.2rem;
    margin-right: 0.5rem;
}
.the-form {
    margin-top: 5vh;
    padding: 20px;
    width: 60vw;
    border: solid black 3px;
    border-radius: 15px;
}
.the-form-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
}
textarea {
    width: 40vw;
    height: 15vh;
}