.main-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 86vh;
    width: 100vw;
}

.box {
    border-radius: 15px;
    box-shadow: 5px 5px #888888;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(138, 164, 204);
    height: 365px;
    width: 325px;
    
}
form {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

input {
    border-radius: 15px;
    height: 4.5vh;
    width: 20vw;
}
button {
    border-radius: 15px;
    background-color: white;
    height: 35px;
    width: 80px;
}

button:hover {
    background-color:rgb(216, 208, 248)
}

a:hover {
    color: rgb(216, 208, 248)
}
h6 {
    font-size: 11px
}
.sign-up {
    color: rgb(53, 126, 93);
    text-decoration: none;
}

p {
    font-size: 10px;
}